body {
    background-image: url(./Images/pexels-henry-&-co-1939485.jpg);
    background-size: 100%;
}

#header {
    text-align: center;
    margin-bottom: 70px;
    color: brown;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid rgb(201, 199, 199);

}

.hover {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px ridge aliceblue;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px;
}

button {
    color: rgb(10, 105, 73);
    background-color: aquamarine;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border-style: groove;
}

#color {
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 50px;
    width: 50px;
}


.something {
    color: rgb(255, 255, 255);
    color: #0c9e92
}